.main-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  color: #333333;
  min-height: 80px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.main-header .logo {
  margin: 15px 0;
}
.main-header .logo a {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: center;
  align-items: center;
}
.main-header .logo a:before {
  content: "";
  display: block;
  margin-right: 15px;
  width: 30px;
  height: 40px;
  background-image: url('../asset/image/logo-dark-small.png');
  background-repeat: no-repeat;
  -webkit-background-size: 30px 38px;
  background-size: 30px 38px;
  background-position: center center;
}
.main-header .interactions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.main-header .interactions .navigators {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
.main-header .interactions .navigators .navigator {
  font-weight: 800;
  margin: 10px 15px;
}
.main-header .interactions .actions {
  margin: 15px 0;
}
.main-header .interactions .actions .btn {
  font-weight: 800;
}
